process {
    withName:segmentation {
        // Define the resources for the segmentation process
        executor = 'slurm'
        cpus = 6
        time = '1h'
        errorStrategy = 'terminate' // options: retry, ignore, finish, terminate
        // maxRetries = 2 // number of retries
        queue = 'aa100' // this is the partition
        clusterOptions = '''
        --account=amc-general
        --qos=normal
        --gres=gpu:1
        --output=segmentation_child-%j.out
        '''
    }
}
