process {
    withName:segmentation {
        // Define the resources for the segmentation process
        executor = 'slurm'
        ntasks = 6
        time = '1h'
        errorStrategy = 'terminate' // options: retry, ignore, finish, terminate
        // maxRetries = 2 // number of retries
        queue = 'aa100' // this is the partition
        clusterOptions = '--gres=gpu:1 --account=amc-general --qos=normal --output=segmentation_child-%j.out'
    }
}
